@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./dropdown.css";

button:focus {
  outline: none;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

.btn-green {
  @apply bg-green-500 text-white;
}

.btn-green:hover {
  @apply bg-green-700;
}

.Config-addFontBtn {
  @apply bg-blue-500 text-white font-semibold py-2 px-4 border border-gray-300 rounded shadow;
  margin-left: 1rem;
  height: 2.5em;
}

.Config-addFontBtn:hover {
  @apply bg-blue-300 text-white font-semibold py-2 px-4 border border-gray-300 rounded shadow;
}

.Config-testArea {
  @apply max-w-sm rounded overflow-hidden py-2 px-3 bg-gray-300;
}

.Config-fontName {
  @apply bg-white text-gray-900 py-1 px-4 border border-gray-300 rounded;
  font-family: sans-serif;
  margin-left: 1em;
}

.Config-fontName--selected {
  @apply bg-blue-700 text-white py-1 px-4 border border-gray-300 rounded;
  font-family: sans-serif;
  margin-left: 1em;
}

.Config-fontName:hover {
  @apply bg-gray-100 text-gray-900 py-1 px-4 border border-gray-300 rounded;
  font-family: sans-serif;
  margin-left: 1em;
}

.Thumbnail-card {
}

.DefaultLayout-langDropdown {
  @apply rounded shadow-md;
  position: absolute;
  /* width: 100%; */
}

.DefaultLayout-langmenuItem {
  @apply px-4 py-2 block text-black bg-white;
  min-width: 100%;
  padding: .5em 1em;
}

.DefaultLayout-langmenuItem:hover {
  @apply bg-gray-300;
}
