@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.btn {
  @apply .font-bold .py-2 .px-4 .rounded;
}

.btn-blue {
  @apply .bg-blue .text-white;
}

.btn-blue:hover {
  @apply .bg-blue-dark;
}
